<br><br><br><br><div class="col-xs-4"></div><div class="col-xs-4 ">

<div ng-controller="getQuestionsController">
    <h3 class="h3_home wow fadeIn" data-wow-delay="0.4s"> My Questions</h3>
    <div id="questions" class="owl-carousel">
    <div class="question" ng-repeat="question in questions"  on-finish-render="ngRepeatFinished" >
            <div><span class="bold">Title:</span> <a href="/#/view-question/{{question._id}}">{{question.title}}</a></div>
            <div><span class="bold">Date:</span> {{question.dateTime| date:'medium'}}</div>

    </div>

</div>
</div>
    </div>

<style type="text/css">
    .bold {
        font-weight: bold;
    }
    .question a {
        color: blue;
        text-decoration: underline;
    }
</style>