<div>
    <div class="result" ng-repeat="result in $root.searchResults">
            <div><span class="bold">Title:</span> <a href="/#/view-question/{{question._id}}">{{result.title}}</a></div>
            <div><span class="bold">Question:</span> {{result.content}}</div>
            <div><span class="bold">Date:</span> {{result.dateTime}}</div>
            <div><span class="bold">Asked by:</span> <a href="/#/user/{{question.userName}}">{{result.userName}}</a></div>
            <br/>
    </div>
</div>