<div ng-controller="viewUserProfileController">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
    <div class="userProfile" ng-repeat="userProfile in profile">
        <div>
            <span class="bold">User Name:</span>
            <span>{{userProfile.userName}}</span>
        </div>
        <div>
            <span class="bold">Profile Name:</span>
            <span>{{userProfile.profileName}}</span>
        </div>
        <div>
            <span class="bold">Number of Questions Posted By Me:</span>
            <span>{{questionCount}}</span>
        </div>
        <div>
            <span class="bold">Number of Answers Posted By Me:</span>
            <span>{{answerCount}}</span>
        </div>
        <div>
            <span class="bold">Last Logged In:</span>
            <span>{{userProfile.lastLoggedIn | date: 'medium'}}</span>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>

<style type="text/css">
    .bold {
        font-weight: bold;
    }
</style>
