<div ng-controller="getQuestionController">
    <div class="question">
        <div><span class="bold">Title:</span>{{question.title}}</div>
        <div><span class="bold">Question:</span> {{question.content}}</div>
        <div><span class="bold">Date:</span> {{question.dateTime}}</div>
        <div ng-if="question.bestAnswerId">This question has an accepted answer</div>
        <br/>
    </div>
    <div style="text-align: right;" ng-repeat="answer in answers">
        <div><span class="bold">Answer:</span> {{answer.content}}</div>
        <div><span class="bold">Date:</span> {{answer.dateTime}}</div>
        <div><span class="bold">By:</span> {{answer.userName}}</div>
        <div ng-if="question.bestAnswerId != answer._id"><button ng-click="acceptAnswer(question._id, answer._id)" class="btn btn-primary btn-large"><i class="glyphicon glyphicon-thumbs-up"></i> Best Answer</button></div>
        <br/>
    </div>
    <form ng-submit="insertAnswer()">
        <label for="answer">Answer:</label>
        <textarea class="form-control" rows="10" id="answer" ng-required="required" ng-model="answer"></textarea>
        <br/>
        <center>
            <button class="btn btn-primary btn-large"><i class="glyphicon glyphicon-ok-sign"></i> Submit An Answer</button>
        </center>
    </form>
</div>
</div>

<style type="text/css">
    .bold {
        font-weight: bold;
    }
</style>
