<div ng-controller="getQuestionController">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-10 question">
                    <div ng-if="question.bestAnswerId">
                        <div class="alert alert-info fade in">
                        <span class="glyphicon glyphicon-check" aria-hidden="true" ></span><b>This question has an accepted answer</b>
                        </div>
                </div>
                    <div><span class="bold">Title:</span>{{question.title}}</div>
                    <div ><span class="bold">Question:</span> <div class="answerDiv" ng-bind-html="question.content"></div></div>
                    <div><span class="bold">Date:</span> {{question.dateTime | date:'medium'}}</div>

             </div>
         </div>
    </div>
<br>
    <div ng-if="question.bestAnswerId == answer._id"  ng-repeat="answer in answers">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 best-answer">
        <div>
            <span class="glyphicon glyphicon-check" aria-hidden="true" ></span>
            <b>Accepted Answer</b></div>
        <div><span class="bold">Answer:</span> <div class="answerDiv"  ng-bind-html ="answer.content"></div></div>
        <div>
            <span class="bold">Date:</span> {{answer.dateTime | date:'medium'}}
            <span class="bold">By:</span> {{answer.userName}}
        </div>

        <div ng-if="question.userName == user">
            <div class="button-center">
                <button ng-click="deselectAnswer(question._id, answer._id)" class="btn btn-info btn-large ">
                <i class="glyphicon glyphicon-thumbs-down"></i> Deselect Best Answer</button></div>
            </div>
        </div>
    </div>
</div>
    </div>
    <br>
    <div ng-if="question.bestAnswerId != answer._id"  ng-repeat="answer in answers">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 other-answer">

                    <div><span class="bold">Answer:</span> <div class="answerDiv"   ng-bind-html ="answer.content"></div></div>
                    <div>
                        <span class="bold">Date:</span> {{answer.dateTime | date:'medium'}}
                        <span class="bold">By:</span> {{answer.userName}}
                    </div>

                     <div ng-if="question.userName == user">
                         <div class="button-center">
                         <button ng-click="acceptAnswer(question._id, answer._id)" class="btn btn-primary btn-large">
                             <i class="glyphicon glyphicon-thumbs-up"></i> Best Answer</button></div>
                        </div>
    </div>
                </div>
            </div>
        <br>
        </div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 answer-question">
            <form ng-submit="insertAnswer()">
                <label for="answer"><b>Answer This Question:</b></label>
                <textarea ui-tinymce class="form-control border-box" rows="7" id="answer" ng-required="required" ng-model="answer"></textarea>
                <br/>

                <button class="btn btn-primary btn-large"><i class="glyphicon glyphicon-ok-sign"></i> Submit Answer</button>

            </form>

        </div>
    </div>
</div>

</div>


<style type="text/css">
    .bold {
        font-weight: bold;
    }
    div.answer-question{
        text-align: center;
    }

</style>
